@import 'variables';

$body-bg:                       $white;
$brand-primary:                 $brand;
$navbar-default-bg:             $base;
$navbar-default-brand-color:    $brand;

@import 'bootstrap';