@import url(http://fonts.googleapis.com/css?family=Asap:400,700|Open+Sans:400italic,400,700,600,300);

// via https://kuler.adobe.com/Shukio-color-theme-4329474

$white:     #fff;
$base:      #D1D4D3;
$dark:      #111C24;
$brand:     #E70E48;
$accent:    #AC0040;

$font-family-sans-serif:     Lato, Helvetica, Arial, sans-serif;
$headings-font-family:       Asap, sans-serif;
$headings-font-weight:       700;
// inherit

