<nav class="navbar navbar-static-top navbar-default" role="navigation">
  <div class="container">
    <div class="navbar-wrapper">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a href="#" class="navbar-home"><span class="glyphicon glyphicon-home"></span></a>
        <a href="#" class="navbar-login"><span class="glyphicon glyphicon-user"></span><span class="title">Login</span></a>        
        <a class="navbar-center navbar-brand" href="#"><span class="brand">Instagram</span>
          </a>




      </div><!--  end navbar-header -->
    </div> <!-- end navbar-wrapper -->
  </div>
</nav>